body {
  margin: 0px;
  box-sizing: border-box;
  --primary: #ffffff;
  --secondary: #f6f8fa;
  --border: #d0d7de;
  --text: #656d76;
  --button-hover: rgba(208, 215, 222, 0.32);
  --button-active: rgba(208, 215, 222, 0.48);
  --button-text: rgb(101, 109, 118);
  position: static;
  z-index: 0;
}

.component {
  padding: 10px;
  font-size: 20px;
}

.welcome {
  padding: 0px;
}