@keyframes showsidebar {
  from {
    width: 0vw;
  }

  to {
    width: 20vw;
  }
}

.sidebar {
  background-color: var(--secondary);
  min-height: -webkit-fill-available;
  width: 20vw;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  animation: showsidebar 0.2s;
  border-radius: 20px 0px 0px 20px;
  padding: 15px;
}